/* MOBILE FIRST */
/* Basic setup of the document */
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
}

.topPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f5fc;
    height: 100vh;
    max-height: 100vh;
}

.bottomPanel {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    background-color: #ffffff;
    height: 100vh;
    max-height: 100vh;
}

/* Logos arrangement */
.logos {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.leftLogos {
    padding: 25px;
    display: flex;
}

.rightLogos img {
    padding: 25px;
    height: 64px;
    width: 64px;
}

#galeLogo {
    height: 40px;
    width: 40px;
}

#xCollab {
    margin: 20px 7px 0 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0a3871;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#aluraLogo {
    height: 33px;
    width: 33px;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    font-size: 11px;
    margin-bottom: 30px;
    gap: 5px;
    color: #67808e;
}

#infoIcon {
    height: 13px;
    width: 13px;
}

/* Input field */
.inputDisplay {
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#inputArea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #0a3871;
    text-align: center;
    background: transparent;
    border: none;
    resize: none;
    min-height: 60px;
    overflow-y: auto;
    page-break-before: avoid;
}

#inputArea:focus {
    outline: none;
}

/* Output field */
#outputDisplay {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    width: auto;
}

#output {
    padding-top: 15vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-size: large;
    text-align: center;
    color: #0d4a97;
    width: 85%;
    max-width: 85%;
    overflow-wrap: break-word;
}

/* Buttons */
.button {
    border-radius: 15px;
    width: 100px;
    height: 50px;
    border: 1px solid #0a3871;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Top buttons */
.topButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 40px;
}

#encrypt {
    color: white;
    background-color: #0a3871;
}

#decrypt {
    color: #0a3871;
    background-color: #d8dfe8;
}

/* Bottom buttons */
.bottomButtons {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#scrollUp {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d8dfe8;
    color: #0a3871;
    font-size: large;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #0a3871;
}

#scrollUp:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#copyText {
    color: white;
    background-color: #0a3871;
}

/* Media queries */
